* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


/* Nav Section with Logo Search Bar and Links */


/* removed the flexbox and
created position absolute plus changed
the structure in html */

.header-top {
    background-color: black;
}

.logo-top {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-bar {
    position: absolute;
    float: left;
    width: 35%;
    height: 30px;
    top: 10px;
    left: 15%;
    padding-right: 20%;
    border-style: none;
    background: white;
    text-align: left;
}

.navigation-bar {
    position: relative;
    float: right;
    width: 100px;
    height: 20px;
    padding: 8px 15px;
    margin: 10px;
    background-color: #8D181A;
    border-radius: 25%;
    text-align: center;
}

.navigation-bar a {
    color: white;
    font-size: 12px;
}


/* Laptop Screen Section */


/* removed the flexbox and
created position absolute plus a defined class */

.content {
    position: relative;
    background-image: url(./media/keyboard.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}

.inner-content {
    position: absolute;
    color: white;
    padding-left: 20%;
    bottom: 1%;
}

#content_title {
    font-size: 20px;
    font-weight: 600;
}

.inner-content>p {
    font-size: 12px;
    font-weight: 400;
}


/* Course Technologies Section */

.technologies {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #1A1818;
    color: white;
    width: 100%;
    height: 300px;
}

.technologies>h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding-bottom: 20px;
}

.tech {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.box {
    background-color: #225A8C;
    border-radius: 5%;
    width: 20%;
    height: 80%;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}

.box-text {
    height: 80%;
}

.box h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight: 600;
}

.button-tech {
    margin: 10px;
    text-align: center;
}

button {
    color: black;
    padding: 5px;
    font-size: 10px;
}


/* tried my first hover effect while using the mouse over the button*/

button:hover {
    background-color: darkorange;
    color: white;
}


/* Footer Section with Logo and Copyright */

footer {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#logo-bottom {
    padding: 10px;
}

.all-rights {
    font-style: italic;
    padding: 5px;
}


/* Created Links to switch to another page*/

.link-bottom-pages {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* background-color: black;
    color: white; */
}

footer li {
    /* list-style: none; */
    float: left;
    border: 1px solid yellow;
    margin-right: 1em;
    padding: 0.5em 1em;
}

.link-bottom-pages a {
    color: white;
}


/* hover effect second time of usage for link in footer) */

.link-bottom-pages a:hover {
    color: black;
    background-color: yellow;
}


/* style.css for about page*/

.about-title {
    position: fixed;
    width: 100%;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.boxes-big {
    position: relative;
    padding: 70px;
}

.box-child {
    background-color: green;
    text-align: center;
    color: white;
    padding: 10px;
}

#box-junior {
    position: sticky;
    margin-top: 300px;
    top: 59px;
}

#box-senior {
    position: sticky;
    margin-top: 300px;
    top: 115px;
}

#box-master {
    position: sticky;
    margin-top: 300px;
    top: 45px;
}

#box-student {
    position: sticky;
    margin-top: 300px;
    top: 157px;
}