* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


/* Nav Section with Logo Search Bar and Links */

nav {
    position: fixed;
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
}

.logoTop img {
    margin-top: 10px;
    margin-left: 10px;
}

nav .searchbarTop {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav .searchbarTop input {
    border: none;
    outline: none;
    background: white;
    height: 100%;
    font-size: 20px;
    width: 85%;
}

.navigationBar {
    display: flex;
}

.navigationBar li {
    float: right;
    height: 100%;
    display: table;
    padding: 8px 15px;
    margin: 10px;
    background-color: #8D181A;
    border-radius: 25%;
}

.navigationBar li a {
    color: white;
    font-size: 12px;
}


/* Laptop Screen Section */

.innerContent {
    position: relative;
    display: flex;
    background-image: url(./media/keyboard.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 270px;
    background-size: cover;
    color: white;
    z-index: -1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 20%;
}

#content_title {
    font-size: 20px;
    font-weight: 600;
}

.innerContent>p {
    font-size: 12px;
    font-weight: 400;
}


/* Course Technologies Section */

.technologies {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #1A1818;
    color: white;
    width: 100%;
    height: 300px;
}

.technologies>h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding-bottom: 20px;
}

.tech {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.box {
    background-color: #225A8C;
    border-radius: 5%;
    width: 20%;
    height: 80%;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}

.boxText {
    height: 80%;
}

.box h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight: 600;
}

.buttonTech {
    margin: 10px;
    text-align: center;
}

button {
    color: black;
    padding: 5px;
    font-size: 10px;
}


/* tried my first hover effect while using the mouse over the button*/

button:hover {
    background-color: darkorange;
    color: white;
}


/* Footer Section with Logo and Copyright */

footer {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#logoBottom {
    padding: 10px;
}

.allRights {
    font-style: italic;
    padding: 5px;
}


/* Created Links to switch to another page*/

.linkBottomPages {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* background-color: black;
    color: white; */
}

footer li {
    /* list-style: none; */
    float: left;
    border: 1px solid yellow;
    margin-right: 1em;
    padding: 0.5em 1em;
}

.linkBottomPages a {
    color: white;
}


/* hover effect second time of usage for link in footer) */

.linkBottomPages a:hover {
    color: black;
    background-color: yellow;
}


/* style.css for about page*/

.aboutTitle {
    position: fixed;
    width: 100%;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.boxesBig {
    position: relative;
    padding: 70px;
}

.boxChild {
    background-color: green;
    text-align: center;
    color: white;
    padding: 10px;
}

#boxJunior {
    position: sticky;
    margin-top: 300px;
    top: 59px;
}

#boxSenior {
    position: sticky;
    margin-top: 300px;
    top: 115px;
}

#boxMaster {
    position: sticky;
    margin-top: 300px;
    top: 45px;
}

#boxStudent {
    position: sticky;
    margin-top: 300px;
    top: 157px;
}