* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


/* Header Section with Logo Search Bar and Links */

header {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0px; */
    /* width: 100%; */
    height: 40px;
    /* margin: 0; */
    background-color: gray;
}


/* .headerTop {
    display: flex;
    justify-content: space-between;
} */

.logoTop img {
    /* display: flex; */
    /* display: inline-flex; */
    /* justify-content: flex-start; */
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    /* height: 100%; */
    /* display: block; */
    /* float: left; */
}

.searchbarTop {
    /* display: inline-flex; */
    /* vertical-align: middle; */
    /* justify-content: center; */
    /* float: left; */
    /* height: 50%; */
    /* width: 60%; */
}

.navigationBar {
    /* display: inline-flex; */
    /* justify-content: flex-end; */
    /* width: 100%; */
    /* float: right; */
}

.navigationBar li {
    float: right;
    height: 100%;
    display: table;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8D181A;
    border-radius: 25%;
    /* color: white; */
}

.navigationBar li a {
    display: table-cell;
    /* vertical-align: middle; */
    /* padding: 0px; */
    /* height: 100%; */
    color: white;
    font-size: 12px;
    ;
}


/* Laptop Screen Section */

.content {
    width: 100%;
    height: 500px;
    background-image: url(./media/keyboard.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.innerContent {
    padding-top: 300px;
    display: inline-block;
    width: 60%;
    text-align: left;
}

.innerContent h2 {
    font-size: 26px;
    font-weight: 600;
}

.innerContent p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}


/* Course Technologies Section */

.technologies {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #1A1818;
    color: white;
    width: 100%;
    height: 300px;
}

.technologies>h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding-bottom: 20px;
}

.tech {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.box {
    background-color: #225A8C;
    border-radius: 5%;
    width: 20%;
    height: 80%;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}

.boxText {
    height: 80%;
}

.box h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight: 600;
}

.buttonTech {
    margin: 10px;
    text-align: center;
}

button {
    padding: 5px;
    font-size: 10px;
}


/* Footer Section with Logo and Copyright */

footer {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#logoBottom {
    padding: 10px;
}

.allRights {
    font-style: italic;
    padding: 5px;
}

.linkBottomPages {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}