* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


/* Nav Section with Logo Search Bar and Links */

nav {
    position: fixed;
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
}

.logoTop img {
    margin-top: 10px;
    margin-left: 10px;
}

nav .searchbarTop {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

nav .searchbarTop input {
    border: none;
    outline: none;
    background: white;
    height: 100%;
    font-size: 20px;
    width: 85%;
}

.navigationBar {
    display: flex;
}

.navigationBar li {
    float: right;
    height: 100%;
    display: table;
    padding: 8px 15px;
    margin: 10px;
    background-color: #8D181A;
    border-radius: 25%;
}

.navigationBar li a {
    color: white;
    font-size: 12px;
}


/* Laptop Screen Section */

.innerContent {
    position: relative;
    display: flex;
    background-image: url(./media/keyboard.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 270px;
    background-size: cover;
    color: white;
    z-index: -1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 20%;
}

#content_title {
    font-size: 20px;
    font-weight: 600;
}

.innerContent>p {
    font-size: 12px;
    font-weight: 400;
}


/* Course Technologies Section */

.technologies {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #1A1818;
    color: white;
    width: 100%;
    height: 300px;
}

.technologies>h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding-bottom: 20px;
}

.tech {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.box {
    background-color: #225A8C;
    border-radius: 5%;
    width: 20%;
    height: 80%;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}

.boxText {
    height: 80%;
}

.box h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight: 600;
}

.buttonTech {
    margin: 10px;
    text-align: center;
}

button {
    padding: 5px;
    font-size: 10px;
}


/* Footer Section with Logo and Copyright */

footer {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#logoBottom {
    padding: 10px;
}

.allRights {
    font-style: italic;
    padding: 5px;
}

.linkBottomPages {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}